@media screen and (max-width: 1030px){
	.wrapper{
		margin: 0 40px;
	}
}

@media screen and (max-width: 550px){
	.wrapper{
		margin: 0 20px;
	}

	.search-form{
		display: block;	
	}

	.search-form__block{
		margin-bottom: 10px;
	}
}

